.menuAdmin {
    font-size: 20px;
}

.imgsp {
    width: 80%;
    height: 100%;
}

.sub-link {
    color: black;
    text-decoration: none
}

.navlink,
.sub-link:hover,
 :focus {
    color: rgb(176, 15, 15);
    text-decoration: none
}

.sub-btn {
    color: rgb(2, 2, 2);
    text-decoration: none
}

.sub-btn:hover {
    color: rgb(67, 54, 241);
    text-decoration: none
}